<header class="site-header" role="banner">
  <a href="#main" class="navbar-link skip-navigation" tabindex="0">Skip to Main Content</a>
  <a href="#footer" class="navbar-link skip-navigation" tabindex="0">Skip to Footer</a>

  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}

  {%- if page_paths -%}


    <nav class="site-nav">
      <div class="center-box">
        <div class="center-item">
          <div class="nav-prompt-grid">
            <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
              <code class="site-code">groupOne@{{ site.titleNoSpaces }}:~$</code>
            </a>

            <code class="subtitle">~
              {%- if page.title -%}
                /{{page.title}}
              {%- endif -%}
            </code>
          </div>
        </div>

        <div class="nav-add-icon">
          <button popovertarget="new-tab-popover" class="icon-button new-tab-button"/>
          <label>
            <img class="icons" src="assets/icons/menu-symbolic.svg" alt="Main Menu"/>
          </label>
        </div>
      </div>

      <div popover id="new-tab-popover" class="pop-over">
        <div class="pop-over-content">
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <a class="navbar-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {%- endif -%}
        {%- endfor -%}
        </div>
      </div>
    </nav>
  {%- endif -%}
  </div>
</header>
